[*.cs]

dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0200.severity = none
dotnet_diagnostic.IDE0251.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0306.severity = none
dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.CA1016.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1854.severity = none
dotnet_diagnostic.CA1864.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA2211.severity = none
