.env

bin/
libs/
obj/
docfx/

libs

publish/DeviceOfHermes.dll
publish/LimbufOfHermes.dll
publish/DeviceOfHermes.zip
publish/doh_rs.dll

workshop/Assemblies/dependencies/doh_rs.dll
workshop/Assemblies/DeviceOfHermes.dll
workshop/Assemblies/HermesAssemblies/LimbufOfHermes.dll

upload.sh
